* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    height: 100vh;
    background-color: #f8f9fa;
}

.container {
    display: flex;
    width: 100%;
}




.sidebar {
    width: 300px;
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.profile h2 {
    margin: 15px 0 5px;
    font-size: 22px;
}

.profile p {
    margin-bottom: 20px;
    color: #333;
    font-size: 14px;
}

.profile a {
    color: #4682B4;
    text-decoration: none;
}

.nav-menu ul {
    list-style: none;
}

.nav-menu ul li {
    margin: 15px 0;
}

.nav-menu ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    transition: color 0.3s;
}

.nav-menu ul li a:hover {
    color: #4682B4;

}




.main-content {
    flex: 1;
    background-color: #fff;
    padding: 50px;
    text-align: center;
}

.main-content h1 {
    font-size: 50px;
    font-weight: bold;
}

